<html>
<head>
  <title>GOOGLE</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="javascripts/index.js"></script>
</head>
<body>
  <div id="button_set">
    <center>
      <button id="signin"><div id="login_round" class="round"></div><p class="text">로그인</p></button>
      <span></span>
      <button id="signup"><div id="signup_round" class="round"></div><p class="text">회원가입</p></button>
    </center>

  </div>
  <div id="signin_form">
    <center>
      <div class="round" id="login_round"></div>
      <p class="text">웰컴 카이스트</p>
      <form id="login" action="/users/signin" method="post">
        <div class="input_form">
          <div class="left_button">
            <button type="button" id="login_back_button" style="border: 0; background: transparent">
              <img src="/images/circle_left.png" width="23" height="23" alt="submit" />
            </button>
          </div>
          <div class="center_input">
            <div>
              <input id="input5" class="id_input input1" type="text" placeholder="아이디 입력"  autocomplete="off" name="id"/>
            </div>
            <div>
              <input ID="input6" class="pw_input input1" type="password" placeholder="암호 입력"  autocomplete="off" name="password" />
            </div>
            <p class="error_message">
              아이디 혹은 비밀번호가 잘못되었거나, 없는 계정입니다.
            </p>
          </div>
          <div id="login_button" class="right_button">
            <button type="button" style="border: 0; background: transparent">
              <img src="/images/circle_right.png" width="23" height="23" alt="submit" />
            </button>
          </div>
        </div>
      </form>
    </center>
  </div>
  <div id="signup_form">
    <center>
      <div class="round" id="signup_round"></div>
      <p class="text">웰컴 카이스트</p>
      <form id="signup_" action="/users/signup" method="post">
        <div class="input_form">
          <div class="left_button">
            <button type="button" id="signup_back_button" style="border: 0; background: transparent">
              <img src="/images/circle_left.png" width="23" height="23" alt="submit" />
            </button>
          </div>
          <div class="center_input">
            <div>
              <input id="input1" class="id_input input2" type="text" name="id" placeholder="아이디 입력"  autocomplete="off"/>
            </div>
            <div>
              <input id="input2" class="else_input input2" type="text" name="nickname" placeholder="닉네임 입력"  autocomplete="off"/>
            </div>
            <div>
              <input id="input3" class="else_input input2" type="password" name="password" placeholder="비밀번호 입력"  autocomplete="off"/>
            </div>
            <div>
              <input id="input4" class="pw_input input2" type="password" name="pw_confirm" placeholder="비밀번호확인 입력"  autocomplete="off" />
            </div>
            <p id="signup_error" class="error_message"></p>
          </div>
          <div id="signup_button" class="right_button">
            <button type="button" style="border: 0; background: transparent">
              <img src="/images/circle_right.png" width="23" height="23" alt="submit" />
            </button>
          </div>
        </div>
      </form>
    </center>
  </div>
</body>
</html>
