<html>
<head>
  <title>BINCH</title>
    <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="./socket.io/socket.io.js"></script>
</head>
<body>

  <div class="container">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1" data-backdrop="static" data-keyboard="false">자유게시판</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2" data-backdrop="static" data-keyboard="false">질문게시판</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3" data-backdrop="static" data-keyboard="false">익명게시판</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myTerminal" data-backdrop="static" data-keyboard="false">터미널</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#xiri" data-backdrop="static" data-keyboard="false">Xiri</button>

    <!-- Modal1 자유게시판 -->
    <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">자유게시판</h4>
            <form action="/board/search" method="post">
              <span style="float:right"><input type="text" name="keyword" placeholder="검색"/></span>
              <input type="hidden" name="board_id"/>
            </form>
          </div>
          <div class="modal-body">
            <div style="width:100%; border:1px solid black; margin:0; text-align:center">
              hi
              <span style="float:right"><button>add</button></span>
            </div>
            <table>
              <thead>
                <tr>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>날짜</th>
                  <th>태그</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

      <!-- Modal2 질문게시판 -->
      <div class="modal fade" id="myModal2" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
              </div>
              <div class="modal-body">
                <p>Some text in the modal.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

    <!-- Modal3 익명게시판 -->
    <div class="modal fade" id="myModal3" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

      <!-- Terminal -->
    <div class="modal fade" id="myTerminal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">apple - bash - 80x24</h5>
          </div>
          <div class="modal-body">
              <div class = "modal-useful" id = "usemodal">
              <div class="inner terminal-body">
            <p>
                <ul class = "TerminalContents" id = "TerminalList"></ul>
                <form onsubmit = "query_submit()">
                apple-ui-MacBook-Pro:~ apple$<input type = "text" name = "TerminalQuery" id = "TerminalQuery">
              </form>
            </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--chat Terminal-->
    <div class="modal fade" id="myChat" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">apple - bash - 80x24</h5>
              </div>
              <div class="modal-body">
                  <div class = "modal-chat" id = "chatmodal">
                  <div class="inner chat-body">
                <p>
                    <ul class = "ChatContents" id = "ChatList"></ul>
                    <form onsubmit = "chat_submit()">
                    apple-ui-MacBook-Pro:~ chat$<input type = "text" name = "ChatQuery" id = "ChatQuery">
                  </form>
                </p>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <!--xiri -->
    <div class="modal fade" id="xiri" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">apple - bash - 80x24</h5>
          </div>
          <div class="modal-body">
            <div id="content">
              <div class="wrap">
              <div id="result">
                <span class="final" id="final_span"></span>
                <span class="interim" id="interim_span"></span>
              </div>
              <div id="xiri">
                <span class="response" id="response"></span>
              </div>
              <button id="btn-mic" class="off">마이크 <span></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

  var socket = io.connect('http://52.231.67.203:4000');
  var room_id = "";
  var user_name = "";
  window.addEventListener('DOMContentLoaded', function(){
    var xhr = new XMLHttpRequest();
    xhr.open("GET", './getInfo', true);
    xhr.send(null);
    xhr.onreadystatechange = function() {
      if (xhr.readyState == XMLHttpRequest.DONE) {
        var resultJSON = xhr.response;
        result_obj = JSON.parse(resultJSON);
        user_name = result_obj.user;
      }
    }
  });

  $( "form" ).submit(function( event ) {
    event.preventDefault();
  });
  function query_submit() {
      let query = document.getElementById("TerminalQuery").value;
      //console.log(query);
      let node = document.createElement("li");
      let textnode = document.createTextNode("apple-ui-MacBook-Pro:~ "+user_name+"$"+query);
      node.appendChild(textnode);
      document.getElementById("TerminalList").appendChild(node);
      document.getElementById("TerminalQuery").value = "";
      let split_query = query.split(" ");
      if (split_query[0] === "ls") {
        let foldernode = document.createElement("li");
        let foldertextnode = document.createTextNode("apple-ui-MacBook-Pro:~ "+user_name+"$freshman sophomore junior senior all");
        foldernode.appendChild(foldertextnode);
        document.getElementById("TerminalList").appendChild(foldernode);
      }
      if (split_query[0] === "vim") {
          console.log(split_query[1]);
          room_id = split_query[1];
          console.log(room_id);
          socket.emit('join:room', {roomId: room_id});
          //Post message to server that which channel user selected
          $('#myTerminal').modal('hide');
          $('#myChat').modal('show');
      }
  }

    $('#myChat').on('show.bs.modal', function () {
    console.log("get chag");
    socket.on('send:message', function (data) {
    let chat_message = document.createElement("li");
    let chat_message_text = document.createTextNode("apple-ui-MacBook-Pro:"+room_id+" "+user_name+"$"+data);
    chat_message.appendChild(chat_message_text);
    document.getElementById("ChatList").appendChild(chat_message);
    });
  // Get message from server, put the message list on chatlist
})

  function chat_submit() {
      let chat_query = document.getElementById("ChatQuery").value;
      console.log(document.getElementById("ChatQuery").value);
      if (chat_query === ':wq') {
        $('#myTerminal').modal('show');
        $('#myChat').modal('hide');
      }
      socket.emit('send:message', {roomId: room_id, message: chat_query});
      document.getElementById("ChatQuery").value = "";
  }
  $(function() {
  if (typeof webkitSpeechRecognition != 'function') {
    alert('Only Works in Chrome Browser');
    return false;
  }

  var recognition = new webkitSpeechRecognition();
  var isRecognizing = false;
  var ignoreOnend = false;
  var finalTranscript = '';
  var $btnMic = $('#btn-mic');
 	var $result = $('#result');
  recognition.continuous = true;
  recognition.interimResults = true;

  recognition.onstart = function() {
    isRecognizing = true;
    $btnMic.attr('class', 'on');
    response.innerHTML = '';
  };

  recognition.onend = function() {
    isRecognizing = false;
    if (ignoreOnend) {
      return false;
    }

    // DO end process
    $btnMic.attr('class', 'off');
    if (!finalTranscript) {
      return false;
    }

    if (window.getSelection) {
      window.getSelection().removeAllRanges();
      var range = document.createRange();
      range.selectNode(document.getElementById('final-span'));
      window.getSelection().addRange(range);
    }

  };

  recognition.onresult = function(event) {
    var interimTranscript = '';
    if (typeof(event.results) == 'undefined') {
      recognition.onend = null;
      recognition.stop();
      return;
    }

    for (var i = event.resultIndex; i < event.results.length; ++i) {
      if (event.results[i].isFinal) {
        finalTranscript += event.results[i][0].transcript;
      } else {
        interimTranscript += event.results[i][0].transcript;
      }
    }

    finalTranscript = capitalize(finalTranscript);
    final_span.innerHTML = linebreak(finalTranscript);
    interim_span.innerHTML = linebreak(interimTranscript);
    fireCommand(finalTranscript);
  };

  function textToSpeech(text) {
    speechSynthesis.speak(new SpeechSynthesisUtterance(text));
  }

  function fireCommand(string) {
    if (string.endsWith('알람') || string.endsWith('알 람')) {
  		alert('알람');
  	}
    else if (string.endsWith('안녕') || string.endsWith('안 녕')) {
      response.innerHTML = "안녕하세요";
      textToSpeech($('#response').text());
    }
    else if (string.endsWith('누구야') || string.endsWith('넌 누구야') || string.endsWith('넌 누 구 야')) {
      response.innerHTML = "안녕하세요 저는 Xiri에요";
  	  textToSpeech('안녕하세요 저는 Xiri에요');
  	}
  }

  recognition.onerror = function(event) {
    if (event.error == 'no-speech') {
      ignoreOnend = true;
    } else if (event.error == 'not-allowed') {
      ignoreOnend = true;
    }

    $btnMic.attr('class', 'off');
  };

  var two_line = /\n\n/g;
  var one_line = /\n/g;
  var first_char = /\S/;

  function linebreak(s) {
    return s.replace(two_line, '<p></p>').replace(one_line, '<br>');
  }

  function capitalize(s) {
    return s.replace(first_char, function(m) {
      return m.toUpperCase();
    });
  }

  function start(event) {
    if (isRecognizing) {
      recognition.stop();
      return;
    }
    recognition.lang = 'ko-KR';
    recognition.start();
    ignoreOnend = false;

    finalTranscript = '';
    final_span.innerHTML = '';
    interim_span.innerHTML = '';
  }

  function requestServer() {
    $.ajax({
      method: 'post',
      url: 'https://www.google.com/speech-api/v2/recognize?output=json&lang=en-us&key=AIzaSyDiMqfg8frtoZflA_2LPqfGdpjmgTMgWhg',
      data: '/examples/speech-recognition/hello.wav',
      contentType: 'audio/l16; rate=16000;', // 'audio/x-flac; rate=44100;',
      success: function(data) {
      },
      error: function(xhr) {
      }
    });
  }
  $btnMic.click(start);
});

/*  var xmlHttp = new XMLHttpRequest();
  xmlHttp.open("GET", "http://52.231.67.203:4000/board", true);
  xmlHttp.setRequestHeader('Access-Control-Allow-Origin', '*');
  xmlHttp.onreadystatechange = function() {
    if (xmlHttp.readyState == 4 && (xmlHttp.status == 200 || xmlHttp.stats == 201)) {
      var table = JSON.parse(xmlHttp.response);
    }
  }
*/
  </script>
  </body>

<style>
body {
  background : url("/images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
ul.TerminalContents, ul.ChatContents {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: 'monaco';
}
#TerminalQuery, #ChatQuery {
  border: none;
  outline: none;
  background-color: transparent;
}

.modal-useful, .modal-chat {
    font-family: 'monaco';
}

.button {
    font-family: 'sambong';
}
#result {
  margin-bottom: 20px; padding: 10px 20px; height: 150px;
  border: solid 1px #000; border-radius: 6px;
}
#result span { line-height: 1.5; }
#xiri {
	margin-bottom: 20px; padding: 10px 20px; height: 150px;
	border: solid 1px #000; border-radius: 6px;
}
#xiri span { line-height: 1.5; }
#btn-mic { text-align: center; min-width: 160px;}
#btn-mic span {
	display: inline-block; margin: 1px 0 0 5px; width: 10px; height: 10px;
	border: solid 1px #fff; background: #bbb; border-radius: 50%;
}
#btn-mic.on span { background: rgb(219, 30, 16); }
ul li { font-size: 1em; }

.visible { display: block !important; }

@font-face {
    font-family: 'monaco';
    src: url('monaco-webfont.ttf') format('truetype'),
        url('monaco-webfont.woff') format('woff');
    font-family: 'sambong';
    src: url('sambongfont.ttf') format('truetype'),
        url('sambongfont.woff') format('woff');
}
</style>

</html>
