<html>
<head>
  <title>BINCH</title>
    <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="./socket.io/socket.io.js"></script>
</head>
<body>

  <div class="container">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1" data-backdrop="static" data-keyboard="false">자유게시판</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2" data-backdrop="static" data-keyboard="false">질문게시판</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3" data-backdrop="static" data-keyboard="false">익명게시판</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myTerminal" data-backdrop="static" data-keyboard="false">터미널</button>
  
    <!-- Modal1 자유게시판 -->
    <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog">    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>    
      </div>
    </div>
  
      <!-- Modal2 질문게시판 -->
      <div class="modal fade" id="myModal2" role="dialog">
          <div class="modal-dialog">        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
              </div>
              <div class="modal-body">
                <p>Some text in the modal.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
  
    <!-- Modal3 익명게시판 -->
    <div class="modal fade" id="myModal3" role="dialog">
      <div class="modal-dialog">   
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  
      <!-- Terminal -->
    <div class="modal fade" id="myTerminal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">apple - bash - 80x24</h5>
          </div>
          <div class="modal-body">
              <div class = "modal-useful" id = "usemodal">
              <div class="inner terminal-body">
            <p>
                <ul class = "TerminalContents" id = "TerminalList"></ul>
                <form onsubmit = "query_submit()">
                apple-ui-MacBook-Pro:~ apple$<input type = "text" name = "TerminalQuery" id = "TerminalQuery">
              </form>
            </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--chat Terminal-->
    <div class="modal fade" id="myChat" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">apple - bash - 80x24</h5>
              </div>
              <div class="modal-body">
                  <div class = "modal-chat" id = "chatmodal">
                  <div class="inner chat-body">
                <p>
                    <ul class = "ChatContents" id = "ChatList"></ul>
                    <form onsubmit = "chat_submit()">
                    apple-ui-MacBook-Pro:~ chat$<input type = "text" name = "ChatQuery" id = "ChatQuery">
                  </form>
                </p>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  
  <script>

  var socket = io.connect('http://52.231.67.203:4000');
  var room_id = "";
  var user_name = "";
  window.addEventListener('DOMContentLoaded', function(){ 
    var xhr = new XMLHttpRequest();
    xhr.open("GET", './getInfo', true);
    xhr.send(null);
    xhr.onreadystatechange = function() {
      if (xhr.readyState == XMLHttpRequest.DONE) {
        var resultJSON = xhr.response;
        result_obj = JSON.parse(resultJSON);
        user_name = result_obj.user;
      }
    }
  });

  $( "form" ).submit(function( event ) {
    event.preventDefault();
  });
  function query_submit() {
      let query = document.getElementById("TerminalQuery").value;
      //console.log(query);
      let node = document.createElement("li");
      let textnode = document.createTextNode("apple-ui-MacBook-Pro:~ "+user_name+"$"+query);
      node.appendChild(textnode);
      document.getElementById("TerminalList").appendChild(node);
      document.getElementById("TerminalQuery").value = "";
      let split_query = query.split(" ");
      if (split_query[0] === "ls") {
        let foldernode = document.createElement("li");
        let foldertextnode = document.createTextNode("apple-ui-MacBook-Pro:~ "+user_name+"$freshman sophomore junior senior all");
        foldernode.appendChild(foldertextnode);
        document.getElementById("TerminalList").appendChild(foldernode);
      }
      if (split_query[0] === "vim") {
          console.log(split_query[1]);
          room_id = split_query[1];
          console.log(room_id);
          socket.emit('join:room', {roomId: room_id});
          //Post message to server that which channel user selected
          $('#myTerminal').modal('hide');
          $('#myChat').modal('show');
      }
  }

    $('#myChat').on('show.bs.modal', function () {
    console.log("get chag");
    socket.on('send:message', function (data) {
    let chat_message = document.createElement("li");
    let chat_message_text = document.createTextNode("apple-ui-MacBook-Pro:"+room_id+" "+user_name+"$"+data);
    chat_message.appendChild(chat_message_text);
    document.getElementById("ChatList").appendChild(chat_message);
    });
  // Get message from server, put the message list on chatlist
})
  
  function chat_submit() {
      let chat_query = document.getElementById("ChatQuery").value;
      console.log(document.getElementById("ChatQuery").value);
      if (chat_query === ':wq') {
        $('#myTerminal').modal('show');
        $('#myChat').modal('hide');
      }
      socket.emit('send:message', {roomId: room_id, message: chat_query});
      document.getElementById("ChatQuery").value = "";
  }


  </script>
  </body>

<style>
body {
  background : url("/images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
ul.TerminalContents, ul.ChatContents {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: 'monaco';
}
#TerminalQuery, #ChatQuery {
  border: none;
  outline: none;
  background-color: transparent;
}

.modal-useful, .modal-chat {
    font-family: 'monaco';
}

.button {
    font-family: 'sambong';
}

@font-face {
    font-family: 'monaco';
    src: url('monaco-webfont.ttf') format('truetype'),
        url('monaco-webfont.woff') format('woff');
    font-family: 'sambong';
    src: url('sambongfont.ttf') format('truetype'),
        url('sambongfont.woff') format('woff');
}
</style>

</html>
