
html, body {
	font-family: "sambong", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	width:100%;
	height:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	background:#000;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}


.topnav {
  background-color: rgb(242, 242, 242, 0.75);
  overflow: hidden;
  opacity: 0.95;
  height: 25px;
  filter: blur(0.01px);
  overflow: hidden;
  font-family: 'sambong';
}

.topnav .topnav-left {
    float: left;
    text-align: center;
    padding: 0 15px;
    font-size: 13px;
}
#apple_logo {
  margin-top: 2px;
}

#list_logo, #siri_icon {
  margin-top: 2.5px;
  margin-right: 10px;
}

#search_icon {
  margin-left : 25px;
  margin-right : 10px;
}

#time {
  padding-top: 10;
  font-size: 15px;
}

.title {
  margin-top: 4px;
  font-weight: 800;
}

.item{
    margin-top: 4px;
}

.topnav-right {
  float: right;
  text-align: center;
  padding: 0 15px;
  font-size: 13px;
}

.bottom {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 90px;
}

.bottom-nav{
  border-radius: 10px 10px 0px 0px;
  /* filter: blur(0.1px); */
  width: 1340px;
  height:100%;
  margin: 0 auto;
  background-color: rgb(150,150,150,0.7);
}

.bottom-content{
  padding-top:15px;
}

.bottom_icon {
    position: relative;
}

#mySelect {
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.dropdown-content {
    position: absolute;
    background-color: rgba(255,255,255,0.6);
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0px 0px 5px 5px;
}

.dropdown-content a {
    font-family: 'sambong';
    color: black;
    padding: 12px 16px;
    height:30px;
    font-size: 13px;
    text-decoration: none;
    display: block;
}
.dropdown-content .border_btm {
  border-bottom: 1px solid rgb(200, 200, 200);
}


.window {
	border : 1px solid rgb(195, 195, 195, 0.5);
  border-radius: 5px;
  text-align: left;
  position:absolute;
	z-index:0;
	visibility:hidden;
	height: auto;
	width: auto;
	overflow: hidden;
}
.window.windows-vis {
	visibility:visible;
	opacity:1;
}

.container {
	position:relative;
	width: 600px;
	height: 400px;
	padding: 0;
	background-color: white;
}
.container-inside {
	padding: 0;
}

.titleInside {
	background-color: rgb(215, 215, 215,0.99);
	height: 30px;
  position:relative;
  z-index:2;
  margin:0;
	color:black;
	font-size:13px;
	line-height:21px;
	text-decoration:none;
	text-shadow: 0 1px 1px #e7e7e7;
	text-align:center;
	text-transform:capitalize;
}

.noticetitleInside {
	background-color: rgb(215, 215, 215,0.99);
	height: auto;
  position:relative;
  z-index:2;
  margin:0;
	color:black;
	font-size:13px;
	line-height:21px;
	text-decoration:none;
	text-shadow: 0 1px 1px #e7e7e7;
	text-align:center;
	text-transform:capitalize;
}

.noticeTitleInside input {
	width: 350px;
	border: 0.5px solid gray;
	border-radius : 5px;
}


nav.control-window {
	position:absolute;
	left:5px;
	top:3px;
	z-index:10;
	height:19px;
}

.terminal-body, .chat-body{
	height: 400px;
	overflow:auto;
}
nav.control-window a {
    display: inline-block;
    margin: 2px 0px 3px 1px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    box-shadow: 0px 1px 0px rgba(255,255,255,.5);
    text-indent: -9999px;
    position: relative;
}
.container-inside h2 {
	color:#000;
	font-size:13px;
	font-weight:bold;
	line-height:13px;
	margin-bottom:15px;
}
.container-inside img {
	margin:0 0 10px 0;
}
.yellow_btn {
	background-color:yellow;
}

.close_btn{
	background-color:red;
}

.full_btn{
	background-color: green;
}
body {
  background : url("/images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
ul.TerminalContents, ul.ChatContents {
    list-style: none;
    margin: 0px;
    padding: 0px;
    /* font-family: 'monaco'; */
}
#TerminalQuery, #ChatQuery {
  border: none;
  outline: none;
  background-color: transparent;
}

.modal-useful, .modal-chat {
    font-family: 'monaco';
}

.button {
    font-family: 'sambong';
}

.modal-header {
  padding: 0px;
  margin: 0px;
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
}

.modal-body {
  padding: 0px;
  margin: 0px;
  top: 0px;
  bottom: 0px;
}

.modal-dialog {
  position: relative;
  display: table;
  width: 500px;
  min-width: 400px;
  height:60%;
  overflow-y: initial !important
}

.modal-content {
  height: 60%;
  overflow-y: auto;
}

#terminalform, #charform {
  height: 0px;
}
.modal-backdrop {
    background-color: rgba(0,0,0,.0001) !important;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	border-radius: 10px;
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	background-color: rgba(32, 28, 23, 0.4);
}

@font-face {
    font-family: 'monaco';
    src: url('monaco-webfont.ttf') format('truetype'),
        url('monaco-webfont.woff') format('woff');
    font-family: 'sambong';
    src: url('sambongfont.ttf') format('truetype'),
        url('sambongfont.woff') format('woff');
}

.window-detail .detail-top {

	height:45px;
	text-align: right;
}
.window-detail .create-top {
		height: 30px;
}
.window-detail .detail-top > div {
	padding-top: 8px;
}

.window-detail .detail-top input {
	width: 200px;
	margin-right: 50px
	border: none;
	border-radius: 5px 5px;
}

.window-detail .detail-top span {
	margin-right: 10px;
}

.window-detail .container .detail-list-area{
	border:1px solid black;
	float:left;
	width:30%;
	height:100%;
}

.window-detail .container .detail-data-area{
	border:1px solid red;
	float:left;
	width:70%;
	height: 100%;
	overflow-y: scroll;
	padding-right: 0;
}

.window-detail .detail-list-item {
	border-bottom : 1px solid black;
	height: 60px;
}

.FreeCommentsElement{
	margin: 5px 10px;
	border-top : 1px solid gray;
}

.window-detail textarea {
	border:none;
	resize:none;
	width: 60%;
	border: 0.5px solid rgb(213, 213, 213);
	border-radius : 5px;
}

.table>thead>tr>th{
  height:20px;
  padding:0px;
  border-top: 0px;
}

.table >tbody>tr>td{
  height:15px;
  padding:0px;
  border-top: 0px;
	font-size: 13px;
}
